@font-face {
  font-family: "GeneralSans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/GeneralSans/Fonts/OTF/GeneralSans-Regular.otf) format("truetype");
}
@font-face {
  font-family: "GeneralSans";
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/GeneralSans/Fonts/OTF/GeneralSans-Medium.otf) format("truetype");
}
@font-face {
  font-family: "GeneralSans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/GeneralSans/Fonts/OTF/GeneralSans-Bold.otf) format("truetype");
}
@font-face {
  font-family: "ClashDisplay";
  src: url(../fonts/ClashDisplay/Fonts/OTF/ClashDisplay-Regular.otf);
}
@font-face {
  font-family: "ClashDisplay";
  font-weight: 500;
  src: url(../fonts/ClashDisplay/Fonts/OTF/ClashDisplay-Medium.otf);
}
@font-face {
  font-family: "ClashDisplay";
  font-weight: 700;
  src: url(../fonts/GeneralSans/Fonts/OTF/GeneralSans-Bold.otf);
}
* {
  box-sizing: border-box;
}

body {
  padding-top: 61px;
}
body .container {
  width: 100%;
  height: auto;
  max-width: 1280px;
}
body .white-button {
  width: auto;
  height: auto;
  padding: 13px 25px;
  border: 1px solid #0C0A0A;
  border-radius: 50px;
  background-color: transparent;
  transition: all 0.3s ease-out;
  font-family: "GeneralSans";
  font-size: 1.25rem;
}
body .white-button:hover {
  background-color: #101010;
  color: #D9D9D9;
}
body nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "GeneralSans";
  font-weight: 500;
}
body nav .logo {
  max-width: 167px;
  height: auto;
}
body nav .logo img {
  width: 100%;
  height: auto;
}
body nav .menu {
  width: 100%;
  height: auto;
  max-width: 957px;
}
body nav .menu ul {
  width: 100%;
  height: auto;
  max-width: 584px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body nav .menu ul li {
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 21.6px;
  font-weight: 500;
  color: #96A0B5;
}
body nav .menu ul .active-menu-item {
  color: #101010;
}
body nav .menu .white-button {
  width: auto;
  height: auto;
  padding: 13px 25px;
  border: 1px solid #0C0A0A;
  border-radius: 50px;
  background-color: transparent;
  transition: all 0.3s ease-out;
  font-size: 1.25rem;
}
body nav .menu .white-button:hover {
  background-color: #101010;
  color: #D9D9D9;
}
body nav .menu-handler {
  display: none;
}
body .hero {
  width: 100%;
  height: auto;
  margin-top: 79px;
}
body .hero .container {
  display: flex;
  justify-content: space-between;
}
body .hero h1 {
  width: 100%;
  height: auto;
  max-width: 700px;
  font-family: "ClashDisplay";
  font-weight: 500;
  font-size: 5rem;
  line-height: 6.16rem;
  color: #101010;
}
body .hero .hero-content {
  width: 100%;
  height: auto;
  max-width: 435px;
  font-family: "GeneralSans";
}
body .hero .hero-content p {
  color: #96A0B5;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.88rem;
}
body .hero .hero-content button {
  margin: 53px 0 0 9px;
  padding: 13px 25px;
  border: 1px solid #0C0A0A;
  border-radius: 50px;
  background-color: #0C0A0A;
  color: #ffffff;
  transition: all 0.3s ease-in;
}
body .hero .hero-content button:hover {
  background-color: #ffffff;
  color: #101010;
}
body .hero .hero-content button:hover svg path {
  stroke: #0C0A0A;
}
body .hero .hero-content button svg {
  transition: all 0.3s ease-in;
  margin-left: 10px;
}
body .hero .slider-hero {
  width: 100%;
  height: 583px;
  overflow-y: hidden;
  margin-top: 40px;
}
body .hero .slider-hero .carousel .carousel-inner .carousel-item {
  max-width: 60%;
}
body .hero .slider-hero .carousel .carousel-inner .carousel-item img {
  -o-object-fit: contain;
     object-fit: contain;
}
body .about {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}
body .about h2 {
  font-family: "GeneralSans";
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  line-height: 2.03rem;
  color: #96A0B5;
}
body .about h3 {
  font-family: "ClashDisplay";
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 4.61rem;
  text-align: center;
}
body .about .block-about {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}
body .about .block-about .content {
  width: 632px;
  height: 500px;
  display: flex;
  flex-direction: column;
}
body .about .block-about .content h4 {
  width: 100%;
  height: auto;
  max-width: 451px;
  font-family: "ClashDisplay";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.85rem;
  color: #ffffff;
}
body .about .block-about .content p {
  width: 100%;
  height: auto;
  max-width: 451px;
  font-family: "GeneralSans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #D9D9D9;
}
body .about .block-about .content.left {
  justify-content: flex-end;
  margin-right: 16px;
  background-image: url(/assets/img/about1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .about .block-about .content.left .blackdrop-about {
  width: 100%;
  height: 48%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(12, 10, 10, 0.4) 15%, rgb(12, 10, 10) 100%);
}
body .about .block-about .content.right {
  justify-content: space-between;
}
body .about .block-about .content.right .info {
  width: 100%;
  height: 242px;
  display: flex;
}
body .about .block-about .content.right .info img {
  width: 100%;
  max-width: 230px;
  height: auto;
}
body .about .block-about .content.right .info .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;
}
body .about .block-about .content.right .info.up .box {
  background-color: #01737F;
}
body .about .block-about .content.right .info.down {
  flex-direction: row-reverse;
}
body .about .block-about .content.right .info.down .box {
  background-color: #031356;
}
body .services {
  width: 100%;
  height: auto;
  margin-top: 100px;
}
body .services .container h2 {
  font-family: "ClashDisplay";
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 4.6rem;
  text-align: left;
}
body .services .container .line {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;
  background-color: #ADABAB;
}
body .services .container .box-services {
  width: 100%;
  height: auto;
  max-width: 1100px;
}
body .services .container .box-services .item-service {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
body .services .container .box-services .item-service img {
  width: 100%;
  height: auto;
  max-width: 500px;
}
body .services .container .box-services .item-service .info-service {
  width: 100%;
  max-width: 539px;
  height: auto;
}
body .services .container .box-services .item-service .info-service h4 {
  font-family: "ClashDisplay";
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
  color: #101010;
}
body .services .container .box-services .item-service .info-service p {
  margin: 16px 0 30px;
  font-family: "GeneralSans";
  font-size: 1.25rem;
  line-height: 1.88rem;
  color: #96A0B5;
}
body .services .container .box-services .item-service .info-service .white-button svg path {
  stroke: #0C0A0A;
}
body .services .container .box-services .item-service .info-service .white-button:hover svg path {
  stroke: #ffffff;
}
body .services .container .box-services .item-service .info-service .white-button svg {
  transition: all 0.3s ease-in;
  margin-left: 10px;
}
body .services .container .box-services .item-service:not(:first-child) {
  margin-top: 82px;
}

@media (max-width: 1200px) and (min-width: 900px) {
  body .hero .container {
    align-items: center;
  }
  body .hero .container h1 {
    font-size: 4.2rem;
    line-height: 5rem;
    max-width: 540px;
  }
  body .hero .container .hero-content {
    max-width: 370px;
    margin-left: 20px;
  }
  body .hero .container .hero-content p {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
  body .hero .container .hero-content button {
    margin: 50px 0 0;
  }
}
@media (max-width: 1200px) {
  body .container {
    max-width: 1000px;
  }
  body .about h2 {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }
  body .about h3 {
    font-size: 3.1rem;
    line-height: 4.1rem;
  }
  body .about .block-about .content h4 {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  body .about .block-about .content p {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.1rem;
  }
  body .services .container h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
  body .services .container .box-services .item-service img {
    max-width: 400px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  body .services .container .box-services .item-service .info-service {
    margin-left: 30px;
  }
  body .services .container .box-services .item-service .info-service h4 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  body .services .container .box-services .item-service .info-service p {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}
@media (max-width: 900px) {
  body {
    padding: 0;
  }
  body .container {
    max-width: 700px;
  }
  body .white-button {
    font-size: 0.8rem;
    padding: 7px 10px;
    margin-top: 20px;
  }
  body nav {
    margin: 0 auto;
    max-width: 80vw;
    align-items: flex-start;
    padding: 20px 0;
  }
  body nav .logo {
    order: 1;
  }
  body nav .logo img {
    max-width: 110px;
  }
  body nav .menu {
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
  }
  body nav .menu .menu-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 0;
    width: 40px;
    height: 40px;
    position: relative;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 0;
  }
  body nav .menu .menu-handler .menu-handle-bar {
    display: block;
    position: relative;
    width: 90%;
    height: 3px;
    border-radius: 3px;
    background-color: #101010;
    opacity: 0.7;
  }
  body nav .menu .menu-handler .menu-handle-bar::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #101010;
  }
  body nav .menu .menu-handler .menu-handle-bar::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #101010;
  }
  body nav .menu .navbar {
    background-color: #ffffff;
    top: 100%;
    left: 0;
    display: flex;
    justify-content: flex-start;
    padding-left: 3px;
  }
  body nav .menu .navbar ul {
    flex-direction: column;
    justify-content: flex-start;
  }
  body nav .menu .navbar ul li {
    width: 100%;
    padding: 10px 0;
    text-align: left;
  }
  body .hero .container {
    flex-direction: column;
    align-items: center;
  }
  body .hero .container h1 {
    font-size: 3rem;
    line-height: 3rem;
    text-align: left;
  }
  body .hero .container .hero-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .about .container h2 {
    font-size: 1.1rem;
  }
  body .about .container h3 {
    margin-top: 15px;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  body .about .container .block-about {
    flex-direction: column;
  }
  body .about .container .block-about .content {
    width: 100%;
    height: 300px;
  }
  body .about .container .block-about .content h4 {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  body .about .container .block-about .content p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  body .about .container .block-about .content.right {
    margin-top: 10px;
    height: 230px;
  }
  body .about .container .block-about .content.right .info {
    height: auto;
  }
  body .about .container .block-about .content.right .info img {
    max-width: 100px;
  }
  body .about .container .block-about .content.right .info .box {
    width: 100%;
    padding: 10px;
    justify-content: center;
  }
  body .about .container .block-about .content.right .info.down {
    margin-top: 10px;
  }
  body .about .container .block-about .content.right .info.down .box {
    align-items: flex-end;
  }
  body .about .container .block-about .content.right .info.down .box h4,
  body .about .container .block-about .content.right .info.down .box p {
    text-align: right;
  }
  body .services .container .box-services .item-service {
    flex-direction: column;
    align-items: center;
  }
  body .services .container .box-services .item-service img {
    max-width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .services .container .box-services .item-service .info-service {
    max-width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  body .services .container .box-services .item-service .info-service .white-button {
    margin-top: 0;
  }
}/*# sourceMappingURL=style.css.map */