@import 'fonts';

$lightBlack: #101010;
$darkGrey: #96A0B5;
$lightGrey: #D9D9D9;

* {
     box-sizing: border-box;
}

body {
     padding-top: 61px;


     .container {
          width: 100%;
          height: auto;
          max-width: 1280px;
     }

     nav {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: space-between;
          align-items: center;

          font-family: $textFont;
          font-weight: 500;

          .logo {
               max-width: 167px;
               height: auto;

               img {
                    width: 100%;
                    height: auto;
               }
          }

          .menu {
               width: 100%;
               height: auto;
               max-width: 957px;

               ul {
                    width: 100%;
                    height: auto;
                    max-width: 584px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    li {
                         padding: 10px;
                         cursor: pointer;

                         font-size: 1rem;
                         line-height: 21.6px;
                         font-weight: 500;
                         color: $darkGrey;
                    }

                    .active-menu-item {
                         color: #101010;
                    }

               }

               .contact-menu-button {
                    width: auto;
                    height: auto;
                    padding: 13px 25px;
                    border: 1px solid #0c0a0a;
                    border-radius: 50px;
                    background-color: transparent;
                    transition: all 0.3s ease-out;

                    font-size: 1.25rem;

                    &:hover {
                         background-color: $lightBlack;
                         color: $lightGrey;
                    }
               }
          }

          .menu-handler {
               display: none;
          }
     }
}

@media (max-width:900px) {
     body {
          padding: 0;
          background-color: black;

          .container {
               background-color: white;
          }

          nav {
               margin: 0 auto;
               max-width: 80vw;
               align-items: flex-start;
               padding: 20px 0;

               .logo {
                    order: 1;

                    img {
                         max-width: 110px;
                    }
               }

               .menu {
                    width: fit-content;
                    position: relative;

                    .menu-handler {
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         order: 0;

                         width: 40px;
                         height: 40px;
                         position: relative;
                         background-color: transparent;
                         border: none;
                         border-radius: 10px;
                         padding: 0;

                         .menu-handle-bar {
                              display: block;
                              position: relative;
                              width: 90%;
                              height: 3px;
                              border-radius: 3px;

                              background-color: $lightBlack;
                              opacity: 0.7;

                              &::before {
                                   content: '';
                                   display: block;
                                   position: absolute;
                                   top: -10px;

                                   width: 100%;
                                   height: 3px;
                                   border-radius: 3px;
                                   background-color: $lightBlack;
                              }

                              &::after {
                                   content: '';
                                   display: block;
                                   position: absolute;
                                   bottom: -10px;

                                   width: 100%;
                                   height: 3px;
                                   border-radius: 3px;
                                   background-color: $lightBlack;
                              }
                         }
                    }

                    .navbar {
                         background-color: white;
                         top: 100%;
                         left: 0;
                         display: flex;
                         justify-content: flex-start;
                         padding-left: 3px;


                         ul {
                              flex-direction: column;
                              justify-content: flex-start;

                              li {
                                   width: 100%;
                                   padding: 10px 0;
                                   text-align: left;
                              }
                         }

                         .contact-menu-button {
                              font-size: 0.8rem;
                              padding: 5px 10px;
                              margin-top: 20px;
                         }
                    }
               }
          }
     }
}